@font-face {
  font-family: "Iosevka", monospace;
  src: url("fonts/Iosevka.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
}

body {
  font-family: "Iosevka", monospace;
  font-weight: 400;
  letter-spacing: 0.5px; /* optional, adjust to match site */
}

.pad {
  margin: 5.5em 0em;
}

h2 {
  font-size: 1.6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, ul {
    font-size: 1em;
}

.bio-icons a {
    font-size: 1.1em;
    color: #333 !important;
    text-decoration: none;
}

.bio-icons a:hover {
    color: #0077b5;
}

.bio-icons a.github:hover {
    color: #000;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    max-height: 100vh;
    flex-direction: row;
    line-height: 1.6;
    color: black;
    justify-content: center;
    background-color: #FBFBFF;
}

.container {
    max-width: 56rem;
    padding: 4rem 4rem 6rem;
}

nav {
    width: 220px;
}

main {
    flex: 1;
    width: 100%;
}

main ul {
    margin-left: 40px
}

hr {
    margin: 1rem 0rem;
}

a {
    color: black;
}

@media (max-width: 1024px) {
    .bio-icons a i {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        flex-direction: column;
    }
}
